// Animated Waves
// Section transition from hero to content
// Inspired by goodkatz CodePen (LYPGxQz)

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 150px;
  pointer-events: none;

  @media (min-width: $bp-md) {
    height: 15vh;
  }
}

// The SVG wave container
.waves__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

// Individual wave layers with staggered animations
.waves__parallax > use {
  animation: wave-move 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;

  &:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 14s;
  }

  &:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 20s;
  }

  &:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 26s;
  }

  &:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 40s;
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes wave-move {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
